*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
	display: grid;
	grid-template-columns: [page-start] 1fr [form-start] min(100%, 25rem) [form-end] 1fr [page-end];
	grid-template-rows: [page-top] 2rem [form-top] max-content [form-bottom] 2rem [page-bottom];
}

form {
	grid-column: form-start / form-end;
	grid-row: form-top / form-bottom;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
}

form > div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr;
	gap: 1rem;
}

form > div > p {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	text-align: center;
}

form > div > button {
	padding: 0.5rem;
	background-color: violet;
}

h1 {
	text-align: center;
	text-transform: uppercase;
}

input {
	padding: 1rem;
	border: 1px solid black;
	border-radius: 1rem;
}

button {
	padding: 1rem;
	text-transform: uppercase;
	font-size: 1.25rem;
	font-weight: 700;
	border: 1px solid black;
	border-radius: 1rem;
	background-color: greenyellow;
	cursor: pointer;
}